@font-face {
	font-family: 'calpop';
	src:url('/fonts/calpop.eot?-lns261');
	src:url('/fonts/calpop.eot?#iefix-lns261') format('embedded-opentype'),
		url('/fonts/calpop.woff?-lns261') format('woff'),
		url('/fonts/calpop.ttf?-lns261') format('truetype'),
		url('/fonts/calpop.svg?-lns261#calpop') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'calpop';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calpop-icon:before {
	content: "\e601";
}
.icon-calpop-left:before {
	content: "\e602";
}
.icon-calpop-right:before {
	content: "\e600";
}
